.forumia-container {
    padding: 1rem;
  
    .post-btn {
      margin: 0.5rem 0 1rem;
    }
  
    .posts-list {
      .post-item {
        border-bottom: 1px solid #ddd;
        padding: 0.5rem 0;
      }
    }
  }
  