nav.custom-navbar {
  background: linear-gradient(
    220deg,
    #cf82e4 0%,
    rgba(78, 50, 235, 0.9) 30%,
    rgba(78, 50, 235, 0.3) 100%  
  );
  color: white;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
}


nav {
  padding: 0 2rem;
  background: #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .navRealm a {
    margin: 0 8px;
  }

  .profilPic {
    margin: 1rem;

    img {
      width: 50px;
      height: 50px;
      border-radius: 25px;;
    }
  }

  .profilPic:hover {
    ul {

      display:block
    }
  }
}

.dropdown {
  ul p {
    padding-bottom: 2rem;
  }

  ul {
    background-color: blue;
    position: absolute;
    display: none;
    right: 2rem;
    width: 200px;
    text-align: center;
    list-style: none;
    z-index: 10;

    img {
      margin: 1rem auto;
    }

    li {
      padding: 1rem;
      text-align: center;
      color: white;
    }

    li:hover {
      background-color: palegoldenrod;
      cursor: pointer;
    }
  }
}
