// ------ Colors -----
$primary: #832A9B;
$secondary: #210187;

// New Color theme
$richBlack: #021b1a;
$darkGreen: #032221;
$bangladeshGreen: #03624C;
$mountainMeadow: #2cc295;
$antiFlashWhite: #f1f7f6;
$stone: #707d7d;
$pistachio: #aacbc4;


$bg: #0b0225;
$fontPrimary: White;

// Fonts:
$code-font: "VT323";
$basic-font: "Poppins";